

:host{
  display: block;
  padding: 24px 0px;
}

.drop-group{
  flex:1;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border: 1px dashed black;
  opacity: 0.2;
  transition: opacity 0.5s ease-in-out;
}

.drop-group.active{
  opacity: 0.5;
  border: 1px dashed black;
  color: black;
  border-radius: 2px;
  background-color: lightgreen;
}

.drop-group{
  *{
    pointer-events: none;
  }
}
