
:host{
  display: block;
  //pointer-events: none;
}

.drop-item{
  flex:1;
  display:flex;
  //flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35px;
  opacity: 0;
  border: 1px dashed black;
  color: black;
  transition: opacity 0.25s ease-in-out;
  i{
    margin-right:14px;
  }
}

.drop-item.active{
  opacity: 0.5;
  height: 35px;
  border: 1px dashed black;
  color: black;
  border-radius: 2px;
  background-color: lightgreen;
}

.drop-item.no-drop{
  opacity: 0.5;
  height: 35px;
  border: 1px dashed black;
  color: black;
  border-radius: 2px;
  background-color: red;
}


.drop-item{
  *{
    pointer-events: none;
  }
}


