

<section class="rule-item-group">

  <div class="group-title"
    draggable="true"
    (dragstart)="onDragStartGroup($event)"
    (dragend)="onDragEndGroup($event)">
    {{name}}

    <nav class="item-nav">
      <span class="item-count">
          {{ fields.length }}
      </span>
      <i *ngIf="open"
        class="material-icons pointer"
        (click)="toggleMe()">keyboard_arrow_up</i>
      <i *ngIf="!open"
        class="material-icons pointer"
        (click)="toggleMe()">keyboard_arrow_down</i>

      <i class="material-icons pointer"
        (click)="deleteMe()">delete</i>
    </nav>

  </div>

  <div class="group-body"
    (dragenter)="onDragEnterGroup($event)"
    [class.open]="open">

    <ng-container *ngFor="let f of fields; index as i">

      <rule-item *ngIf="f.fieldType!='Group'"
        [canDrop]="canDrop"
        [parentPath]="path"
        [groupId]="id"
        [groupName]="name"
        [field]="f">
      </rule-item>

      <rule-group *ngIf="f.fieldType=='Group'"
        [parentPath]="path"
        [path]="f.path"
        [index]="i"
        [id]="f.id"
        [name]="f.name"
        [fields]="f.fields">
      </rule-group>
      <!--
      <rule-drop-item
        class="group-drop-item"
        *ngIf="showDrop"
        [canDrop]="canDrop"
        [parent]="path"
        [groupId]="id"
        [groupName]="name"
        [index]="i">
      </rule-drop-item>
      -->
    </ng-container>

    <rule-drop-item
      class="group-drop-item"
      *ngIf="showDrop"
      [canDrop]="canDrop"
      [groupId]="id"
      [groupName]="name"
      [parentPath]="path"
      [index]="fields.length">
    </rule-drop-item>

  </div>

</section>
