

<section class="rule-item-group">

  <div class="group-title"
    draggable="true"
    (dragstart)="onDragStartGroup($event)"
    (dragend)="onDragEndGroup($event)">
    {{name}}

    <nav class="item-nav">
      <span class="item-count">
          {{ fields.length }}
      </span>
      <i *ngIf="open"
        class="material-icons pointer"
        (click)="toggleMe()">keyboard_arrow_up</i>
      <i *ngIf="!open"
        class="material-icons pointer"
        (click)="toggleMe()">keyboard_arrow_down</i>

      <i class="material-icons pointer"
        (click)="deleteMe()">delete</i>
    </nav>

  </div>

  <div class="group-body"
    (dragenter)="onDragEnterGroup($event)"
    [class.open]="open">

    <rule-item *ngFor="let f of fields; index as i"
      [canDrop]="canDrop"
      [group]="index"
      [groupId]="id"
      [groupName]="name"
      [index]="i"
      [field]="f">
    </rule-item>

    <rule-drop-item
      class="group-drop-item"
      *ngIf="showDrop"
      [canDrop]="canDrop"
      [group]="index"
      [groupId]="id"
      [groupName]="name"
      [index]="fields.length">
    </rule-drop-item>

  </div>

</section>
