
:host{
  display: block;
}

.rule-item{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0px;
}

.item-title{
  font-weight: 600;
}

.item-nav{
  display:flex;
  i{
    margin-right:14px;
  }
}
