
<button (click)="saveSegment()"
  [disabled]="!canSave">Save</button>

<section class="rule-card">
  <h2>Rule </h2>

  <div class="rule-body"
    (dragenter)="onDragEnter($event)">

    <rule-group *ngFor="let g of groups; index as i"
      [path]="g.path"
      [id]="g.id"
      [name]="g.name"
      [index]="i"
      [fields]="g.fields">
    </rule-group>


    <rule-drop-group
      *ngIf="dropZoneGroup"
      [index]="groups.length">
    </rule-drop-group>

  </div>
</section>

<section class="rule-card">
  Rule data:
  <pre>{{ groups | json }}</pre>
</section>
