
.rb-edit-card{
  display: flex;
  position: fixed;
  right:0; top:0;
  bottom:0;
  padding: 0px 21px;
  min-width: 320px;
  background-color: #fff;
  z-index: 9;
  //transition: all 2s ease-in-out;
  box-shadow: 0 11px 15px -7px rgba(0,0,0,.2), 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12);
}

.rb-edit-card.show{
  transform: scale(1);
}

.rb-edit-card.show :root{
  overflow-y: hidden;
}

.rb-edit-card.hide{
  transform: scale(0);
}


.rb-edit-card-header{
  align-items: center;
  justify-content: space-between;
}

.rb-edit-body{
  flex: 1;
}
